{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        cheshire/cheshire   {:mvn/version "6.2.0"}
        funcool/promesa     {:mvn/version "11.0.678"}
        http-kit/http-kit   {:mvn/version "2.8.1"}}}
