{:lint-as {jdbc.core/on-connection clojure.core/with-open}

 :linters
 {:unresolved-symbol {:exclude [await]}

  :aliased-namespace-symbol             {:level :warning}
  :case-symbol-test                     {:level :warning}
  :condition-always-true                {:level :warning}
  :destructured-or-always-evaluates     {:level :warning}
  :docstring-leading-trailing-whitespace {:level :warning}
  :dynamic-var-not-earmuffed            {:level :error}
  :equals-false                         {:level :warning}
  :equals-float                         {:level :warning}
  :equals-nil                           {:level :warning}
  :equals-true                          {:level :warning}
  :keyword-binding                      {:level :warning}
  :minus-one                            {:level :warning}
  :missing-protocol-method-arity        {:level :warning}
  :not-nil?                             {:level :warning}
  :plus-one                             {:level :warning}
  :reduce-without-init                  {:level :warning}
  :redundant-call                       {:level :warning}
  :redundant-fn-wrapper                 {:level :warning}
  :redundant-let-binding                {:level :warning}
  :single-key-in                        {:level :warning}
  :used-underscored-binding             {:level :warning}
  :warn-on-reflection                   {:level :warning}

  :aliased-namespace-var-usage          {:level :error}
  :case-quoted-test                     {:level :error}
  :clj-kondo-config                     {:level :error}
  :cond-else                            {:level :error}
  :consistent-alias                     {:level :error}
  :deprecated-namespace                 {:level :error}
  :deprecated-var                       {:level :error}
  :deps.edn                             {:level :error}
  :destructured-or-binding-of-same-map  {:level :error}
  :discouraged-java-method              {:level :error}
  :discouraged-namespace                {:level :error}
  :discouraged-tag                      {:level :error}
  :discouraged-var                      {:level :error}
  :do-template                          {:level :error}
  :docstring-blank                      {:level :error}
  :duplicate-key-args                   {:level :error}
  :duplicate-refer                      {:level :error}
  :duplicate-require                    {:level :error}
  :earmuffed-var-not-dynamic            {:level :error}
  :inline-def                           {:level :error}
  :java-static-field-call               {:level :error}
  :locking-suspicious-lock              {:level :error}
  :loop-without-recur                   {:level :error}
  :missing-body-in-when                 {:level :error}
  :missing-clause-in-try                {:level :error}
  :missing-else-branch                  {:level :error}
  :missing-protocol-method              {:level :error}
  :missing-test-assertion               {:level :error}
  :non-arg-vec-return-type-hint         {:level :error}
  :not-empty?                           {:level :error}
  :protocol-method-arity-mismatch       {:level :error}
  :protocol-method-varargs              {:level :error}
  :quoted-case-test-constant            {:level :error}
  :redundant-declare                    {:level :error}
  :redundant-do                         {:level :error}
  :redundant-let                        {:level :error}
  :refer-all                            {:level :error}
  :refer                                {:level :error
                                         :exclude [client.support.test
                                                   clojure.test
                                                   cljs.test
                                                   clojure.test.check.generators
                                                   cljs.test.check.generators]}
  :unsorted-required-namespaces         {:level :warning
                                         :sort  :case-insensitive}
  :unsorted-imports                     {:level :warning}
  :self-requiring-namespace             {:level :error}
  :shadowed-fn-param                    {:level :error}
  :single-logical-operand               {:level :error}
  :single-operand-comparison            {:level :error}
  :syntax                               {:level :error}
  :unbound-destructuring-default        {:level :error}
  :underscore-in-namespace              {:level :error}
  :uninitialized-var                    {:level :error}
  :unknown-ns-option                    {:level :error}
  :unknown-require-option               {:level :error}
  :unquote-not-syntax-quoted            {:level :error}
  :unreachable-code                     {:level :error}
  :unresolved-protocol-method           {:level :error}
  :unresolved-var                       {:level :error}
  :unused-binding                       {:level :error
                                         :exclude-destructured-keys-in-fn-args true
                                         :exclude-destructured-as true}
  :unused-import                        {:level :error}
  :unused-namespace                     {:level :error}
  :unused-private-var                   {:level :error}
  :unused-referred-var                  {:level :error}
  :unused-value                         {:level :error}
  :use                                  {:level :error}
  :var-same-name-except-case            {:level :error}

  :aliased-referred-var                 {:level :warning}
  :is-message-not-string                {:level :warning}
  :redundant-ignore                     {:level :warning}
  :redundant-nested-call                {:level :warning}
  :redundant-primitive-coercion         {:level :warning}
  :redundant-str-call                   {:level :warning}
  :unused-excluded-var                  {:level :warning}

  :bb.edn-cyclic-task-dependency        {:level :error}
  :bb.edn-undefined-task                {:level :error}
  :bb.edn-unexpected-key                {:level :error}}}
